<div>
    {{#each this}}
    <section class="comment">
        <div>
            {{user.username}}:
            {{comment_text}}
        </div>
        <div class="comment-timestamp">            
            {{format_date createdAt}}
        </div>
    </section>
    {{/each}}
</div>