{{#if posts.length}}
<section>
    <h2 class="your-posts">Your Posts</h2>
    <ol class="post-list">
        {{#each posts as |post|}}
        <li class="post">
            {{> post-info post}}
            <a href="/dashboard/edit/{{post.id}}" class="edit-link">Edit post</a>
        </li>
        {{/each}}
    </ol>
</section>
{{else}}
<h1>You do not have any posts</h1>
{{/if}}

<section class="submit-post">
    <form class="new-post-form">
        <h2>Submit A New Post</h1>
            <div class="submit-form">
                <div>
                    <label for="dash-title">Title</label>
                    <input type="text" id="post-title" name="post-title" />
                </div>
                <div>
                    <label for="post-text">Text</label>
                    <input type="text" id="post-text" name="post-text" />
                </div>
                <button type="submit" class="btn">Submit</button>
            </div>
    </form>
</section>
<script src="/javascript/add-post.js"></script>