<section>
    <form>
        <div>
            <label for="dash-title">Title</label>
            <input type="text" id="post-title" name="post-title"/>
        </div>
        <div>
            <label for="post-text">Text</label>
            <input id="post-text" name="post-text" />
        </div>
        <button type="submit" class="btn">Submit</button>
    </form>
</section>