<article>
  <h2 class="edit-post">Edit Post</h2>
  <form class="edit-post-form">
    <div>
      <h4>New title:</h4>
      <input name="post-title" type="text" value="{{post.post_title}}" />
      <span>(Current body: {{post.post_text}})</span>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">Add Comment</button>
  </div>
</form>

<script src="/javascript/edit-post.js"></script>
<script src="/javascript/delete-post.js"></script>
<script src="/javascript/comment.js"></script>