<div class="login">
<form class="login-form">
    <div>
        <label for="username">Username</label>
        <input type="text" id="username">
    </div>
    <div>
        <label for="password">Password</label>
        <input type="text" id="password">
    </div>
    <div>
        <button type="submit" class="loginBtn">Login</label>
    </div>
</form>

<form class="signup-form">
    <div>
        <label for="newUsername">Username</label>
        <input type="text" id="newUsername">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="text" id="newEmail">
    </div>
    <div>
        <label for="newPass">Password</label>
        <input type="text" id="newPass">
    </div>
    <div>
        <button type="submit" class="loginBtn">Signup</label>
    </div>
</form>
</div>